.grid-container{
    display: grid; 
    grid-template-rows: 1fr 2fr;
    
}

body{ 
    display: grid;
    background-image: url("background.jpeg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    opacity: 0.9;
    width: 100vw;
    height: 100vh;
    background-size: cover;
     }

header{
    text-align: center;
    grid-area: header;
    color: #629CA6;
    }


h2{
    color: #629CA6;
}
.sec-one{
    grid-area: sec-one;
    color: #E3B750;
}

.sec-two{
    grid-area: sec-two;
    color: #4768A5;
}

.sec-three{
    grid-area: sec-three;
    color: #DB5D5A;
}

@media (max-width: 992px) {
  .grid-one{  
      display: grid;
    grid-template-areas:
                "header header header"
              "sec-one sec-two sec-three";
  }  
}

  @media (max-width: 576px) {
    .grid-one{
        display: grid;
    grid-template-areas: 
                        "header"    
                         "sec-one"
                        "sec-two"   
                        "sec-three";
    }
}